@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: all 1s;
}

body {
    max-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}


nav {
    display: flex;
    width: 100vw;
    height: 61px;
    background: #84B4BE;
    align-items: center;
    justify-content: space-around;



}

.titulo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #282A63;
}

#SecciónIcono {
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    height: 61px;
}

#T1 {
    font-style: italic;

}

#icono {
    display:block;
    width: 53px;
    height: 53px;
    margin: 4px 21px;
    border-radius: 50%;
    background-color: rgb(25, 2, 131);

}

#icono img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

#menu {
    display:flex;
    flex-direction:row;
    justify-self:right;
    
}

.menu_item {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 12px;
    line-height: 15px;
    margin: 0 10px;
}

.menu_item:hover {
    scale: 1.1;
    transition: 1s;
}


a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

    color: #282A63;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

#Carrusel {
    height: 50vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: block;
    

}

#CarruselItems {
    max-height: 50vh;
    max-width: 100vw;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;

}
.Carrusel_Item {
    min-width: 100vw;
}
.Carrusel_Item img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.Boton {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor:pointer;
    margin: 0 40px;
}

.Boton img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.5;


}
.Boton img:hover{
    opacity: 0.8;
    scale:1.2;
    transition: all 1s;

}

#Botones {
    display:flex;
    height:50vh;
    width: 100vw;
    align-items: center;
    position:absolute;
    justify-content: space-between;
    overflow-x: hidden;
}


.TDiv {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.T {
    font-size: 50px;
}

#Proyectos {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmUFH-_HDprbKcmMw-VZnFQx787XjL8k5vYG1PJ1PwL0hlfPT-ds2Ob7VeAXZgEFhc53o&usqp=CAU;)
}

.proyecto {
    display:flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    color:rgb(17, 20, 65)
}

.infoE {
    height:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    padding-right: 10px;
    padding-left: 10px;
}

.infoE h3{
    margin-top: 5px;
    margin-bottom: 20px;
}

.imagen{
    height: 60%;
    width: 50%;
    object-fit: cover;
}

.imagen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


#AboutMe {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmUFH-_HDprbKcmMw-VZnFQx787XjL8k5vYG1PJ1PwL0hlfPT-ds2Ob7VeAXZgEFhc53o&usqp=CAU;);
    padding-bottom: 60px;
    background-size: cover;


}

#TAboutMe {
    font-size: 50px;
}

.Perfil {
    height: 50vh;
    border-radius: 50%;
    border: 50px black;
    margin-top: 50px;

}

.Perfil img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:fill;
}

.infoA {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
}
.sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 20px 0;
}


#AboutMe h1 {
    font-size: 30px;
    margin: 40px 0 20px 0;
    line-height: 45px;
    text-align: center;

}

.infoA h2 {
    color:#282A63;
    font-size: 20px;
    margin-bottom: 20px;



}

.infoA p {
    color: black;
    font-size: 19px;
    margin: 10px 0;

}

#Skills{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
    transition: all 2s;

}

#FondoFino{
    background: url(https://static.vecteezy.com/system/resources/previews/002/294/900/non_2x/light-blue-technology-background-hi-tech-digital-and-security-concept-design-free-space-for-text-in-put-illustration-vector.jpg);
    background-size: cover;
}

#ISkills{
    margin: 50px 0 40px 0;
    display:flex;
    align-items: center;
    justify-content: center;


}

#ISkills p {
    font-size: 26px;
    
}

#barras {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px;
    opacity: 0;
    transition: all 1s;

}



.bloque{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
    justify-content: center;
    transition: all 3s;
}

.bloque h3{
    font-size: 15px;
}
.barra{
    display: flex;
    flex-direction: column-reverse;
    height: 60vh;
    width: 50px;
    background-color: grey;
    border-radius: 5px;
}


.progreso{
    background-color: green;
    border-radius: 5px;
    height: 0;
    justify-content: end;
    transition: all 5s;
}





#ContactMe p {
    text-align: center;
    margin-bottom: 30px;
}

#RyF{
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

form {
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 80vw;
    margin-bottom: 40px;
}

form input{
    margin-bottom: 15px;
}

form label {
    font-size: 20px;
    margin-bottom: 5px;
}

form textarea{
    columns: 10;
    width: 100%;
    resize: none;
    padding: 20px;
}

#Message{
    margin-bottom: 10px;
}

#Send {
    cursor:pointer;
    background-color: rgb(41, 41, 100);
    color: white;
}

#Send:hover{
    background-color: rgb(63, 63, 150);
}


#Redes{
    display:flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
    justify-content:space-around;

}
.red {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.red img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    
}
.red img:hover{
    scale:1.2;
    transition: all 1s;
}

#Social {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tlf {
    width: 50vw;
    display:flex;
    align-content: center;
    align-items: center;
    margin: 30px 0;
    justify-content: center;

}
#tlf a {
    display: flex;
    font-size: 15px;
    margin-left: 10px;
    text-decoration: underline;
    align-items: center;
    justify-content: center;

}

#tlf img:hover {
    margin-left: 10px;
    scale: 1.2;
    transition: all 1s;
}

#tlf img {
    height: 70px;
    width: 70px;
    margin-top: -30px;

}
/* Tablet */
@media (min-width: 768px) {


    #T1 {
        font-size: 20px;
    }
    .menu_item {
        font-size: 14px;
        line-height: 18px;
    }
    .infoE{
        font-size: 19px;
    }

    .infoA p{
        font-size: 20px;
        width: 70vw;
    }

    #barras h3{
        font-size: 18px;
    }

    form textarea {
        max-width: 500px;
    }

    #ContactMe p{
        font-size: 18px;
    }
    button {
        width: 80px;
        height: 30px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    
    #T1 {
            font-size: 30px;
        }
    .menu_item{
        padding: 0 20px
    }
    a {
        font-size: 15px;
    }

    #SecciónIcono {
        display:none;
    }
    nav{
        justify-content: end;
    }
    #menu{
        margin-right: 10%;
    }

    #Carrusel{
        height: 90vh;
    }

    #CarruselItems{
        max-height: 90vh;
    }

    .proyecto{
        margin: 60px 0;
    }
    #Botones{
        height: 90vh;
    }
    .imagen {
        height: 100%;
    }

    #AboutMe h1{
        font-size: 40px;
        margin: 40px 0;
    }
    .infoA {
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        height: 70vh;
        
    }
    
    .sec {
        
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 100%;
        justify-items:center;
        justify-content:flex-start;
        margin-top: 50px;

    
    }

    .infoA p{
        width:80%;

        font-size: 22px;
        line-height: 27px;
        text-align: justify;
    }
    .infoA h2 {
        width: 80%;
        font-size: 25px;
        line-height: 30px;
        text-align: center;

}
    .separador{
        width: 3px;
        height:100%;
        background-color: #282A63;
    }

    #Skills{
        margin-bottom: 60px;
    }

    .bloque h3 {
        font-size: 20px;
        margin-top: 10px;
    }

    .barra{
        width: 60px;
    }

    form textarea{
        max-width: 500px;
    }
    #Redes{
        width: 30vw;
    }
}   
