@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}


nav {
    display: flex;
    width: 100%;
    height: 61px;
    background: #84B4BE;
    align-items: center;
    justify-content: space-around;

}

.titulo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #282A63;
}

#SecciónIcono {
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    height: 61px;
}

#T1 {
    font-style: italic;

}

#icono {
    display:block;
    width: 53px;
    height: 53px;
    margin: 4px 21px;
    border-radius: 50%;
    background-color: rgb(25, 2, 131);

}

#icono img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

#menu {
    display:flex;
    flex-direction:row;
    justify-self:right;
}

.menu_item {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    padding: 0 10px;
}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #282A63;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

#Carrusel {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

#CarruselItems {
    display: flex;
    overflow-x: hidden;

}
.Carrusel_Item {
    min-width: 100vw;
    min-height: 100vh;
}
.Carrusel_Item img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.Boton {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor:pointer;
}

.Boton img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#Botones {
    display:flex;
    height:100vh;
    width: 100vw;
    align-items: center;
    position:absolute;
    justify-content: space-between;
    padding: 0 30px;
}


#Experience{
    width: 100vw;
}

#TExperiencia {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#T2 {
    font-size: 25px;
}

#Proyectos {
    display: flex;
    height: 150vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.proyecto {
    display:flex;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content:space-around;
}

.info {
    width: 40vw;
    padding-right: 10px;
    padding-left: 10px;
}

.imagen{
    height: 60%;
    width: 40%;
    object-fit: cover;
}

.imagen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* Tablet */
@media (min-width: 768px) {

    #T1 {
        font-size: 20px;
    }
    .menu_item {
        padding: 0 15px
    }
    a {
        font-size: 14px;

    }

}

/* Desktop */
@media (min-width: 1024px) {
    
    #T1 {
            font-size: 30px;
        }
    .menu_item{
        padding: 0 20px
    }
    a {
        font-size: 15px;
    }

    #SecciónIcono {
        display:none;
    }
    nav{
        justify-content: end;
    }
    #menu{
        margin-right: 10%;
    }
}
